
    <div class="to_do_list_header" style="text-align:center;">
        <div>
            <h1 class="to_do_list_logo" style="font-family: 'Architects Daughter', cursive; font-weight: bold; margin-top: 1em;">TO DO LIST</h1>
        </div>
        
        <div>
            <a href="{% url 'TDL_APP1:home' %}" style="font-family: 'Indie Flower', cursive; color: black; text-decoration-line : none; font-weight: 550; font-size: 1.3em;">
                <span>Home</span>
            </a>
        </div>
        
    </div>